params.user = "$USER"
params.email = params.user+'@ebi.ac.uk'

params.core_dump = 1

params.species = 'bos_taurus'
params.antispecies = ''
params.division = ''
params.run_all = 0
params.dbname = ''
params.meta_filters = ''

params.dump_dir = ''
params.ftp_root = ''

params.genome_types = ''
params.geneset_types = ''
params.rnaseq_types = ''
if (params.core_dump)
  params.genome_types = 'Chromosome_TSV'
  params.geneset_types = 'Geneset_GTF'
  params.rnaseq_types = 'RNASeq_Exists'

params.dump_metadata = 0
if (params.core_dump)
  params.dump_metadata = 0
params.dump_mysql = 0
params.overwrite = 0
params.per_chromosome = 0

params.rnaseq_email = params.email

params.run_datachecks = 0
params.datacheck_groups = ''
if (params.core_dump)
  params.run_datachecks = 0
  params.datacheck_groups = 'rapid_release'
params.config_file = ''
params.history_file = ''
params.output_dir = ''
params.datacheck_names = ''
params.datacheck_types = ''

params.blastdb_exe = 'makeblastdb'
params.gtf_to_genepred_exe = 'gtfToGenePred'
params.genepred_check_exe = 'genePredCheck'
params.gt_gff3_exe = 'gt gff3'
params.gt_gff3validator_exe = 'gt gff3validator'

params.blast_index = 0
if (params.core_dump)
  params.blast_index =1
params.chain_ucsc = 1
params.dna_per_chromosome = params.per_chromosome
params.embl_per_chromosome = params.per_chromosome
params.gff3_per_chromosome = params.per_chromosome
params.gtf_per_chromosome = params.per_chromosome
params.xref_external_dbs = ''

params.run_assembly_chain = 0
params.run_chromosome_tsv = 0
params.run_genome_fasta = 0
if (params.genome_types =~ /Assembly_Chain/)
  params.run_assembly_chain = 1
if (params.genome_types =~ /Chromosome_TSV/)
  params.run_chromosome_tsv = 1
if (params.genome_types =~ /Genome_FASTA/)
  params.run_genome_fasta = 1

params.run_geneset_embl = 0
params.run_geneset_fasta = 0
params.run_geneset_gff3 = 0
params.run_geneset_gtf = 0
params.run_xref_tsv = 0
if (params.geneset_types =~ /Geneset_EMBL/)
  params.run_geneset_embl = 1
if (params.geneset_types =~ /Geneset_FASTA/)
  params.run_geneset_fasta = 1
if (params.geneset_types =~ /Geneset_GFF3/)
  params.run_geneset_gff3 = 1
if (params.geneset_types =~ /Geneset_GTF/)
  params.run_geneset_gtf = 1
if (params.geneset_types =~ /Xref_TSV/)
  params.run_xref_tsv = 1

params.run_rnaseq_exists = 0
if (params.rnaseq_types =~ /RNASeq_Exists/)
  params.run_rnaseq_exists = 1

tower {
  enabled = true
  accessToken = secrets.MyAccessToken
  workspaceId = secrets.MyWorkspaceID
}
